@import '/src/styles/variables';
@import '/src/styles/mixin';
.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  gap: 1rem;
  button {
    @include primaryButton();
  }
}
