@import "/src/styles/variables";
.card{
    width: 10rem;
    background-color: $grey-color;
    border: 1px solid $grey-color;
    border-radius: 0.5rem;
    padding: 0.3rem;
    transition: transform 0.2s ease;
 
    &:hover{
        transform: scale(1.01);
    }
}
