<nav class="sidebar">
  <div class="sidebar__logo">
    <h5>FreeTorrentMovies</h5>
  </div>
  <div class="step-separator"></div>
  <div class="sidebar__links">
    <a routerLink="/home"><i class="bi bi-house"></i> Inicio</a>
    <a routerLink="/home"><i class="bi bi-film"></i>Peliculas</a>
    <a routerLink="/home"><i class="bi bi-collection"></i>Categorías</a>
    <a routerLink="/help"><i class="bi bi-question-square"></i>Ayuda</a>
  </div>
  <div class="step-separator"></div>
  <div class="sidebar__links">
    <a routerLink="/auth/login"
      ><i class="bi bi-box-arrow-in-right"></i>Iniciar sesion</a
    >
    <a routerLink="/auth/register"
      ><i class="bi bi-box-arrow-in-right"></i>Registrarse</a
    >
  </div>
  <div class="step-separator"></div>
</nav>
