<nav class="sidebar">
  <div class="sidebar__logo">
    <h5>FreeTorrentMovies</h5>
  </div>
  <div class="step-separator"></div>
  <div class="sidebar__links">
    <a href="#"><i class="bi bi-house"></i> Home</a>
    <a href="#"><i class="bi bi-film"></i>Movies</a>
    <a href="#"><i class="bi bi-collection"></i>Categories</a>
    <a href="#"><i class="bi bi-heart"></i>Favorites</a>
  </div>
  <div class="step-separator"></div>
  <div class="login__links">
    <a href="#"><i class="bi bi-box-arrow-in-right"></i>Sign in</a>
  </div>
  <div class="step-separator"></div>
</nav>
