<div class="search-container">
    <div>
        <input placeholder="Buscar Pelicula" type="text" class="input" required="" />
    </div>
    <div>
        <label for="standard-select">Generos</label>
        <div class="select">
            <select name="genreSelected" [(ngModel)]="genreSelected" (change)="changes($event)">
                <ng-container *ngFor="let genre of genres">
                    <option [value]="genre._id">
                        {{ genre.name }}
                    </option>
                </ng-container>
            </select>
        </div>
    </div>
</div>
