@import "/src/styles/variables";
.search-container{
    display: flex;
    justify-content:space-around;
    align-items: center;
    .input {
        line-height: 28px;
        border: 2px solid transparent;
        border-bottom-color: $primary-color;
        padding: .2rem 0;
        outline: none;
        background-color: transparent;
        color: $white-color;
        transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
        
        &:focus, input:hover {
            outline: none;
        padding: .2rem 1rem;
        border-radius: $border-radius;
        border-color: $primary-color;
    }
    
    &::placeholder {
        color: #777;
    }
    
    &:focus::placeholder {
        opacity: 0;
        transition: opacity .3s;
    }

}
       
}
select{
    padding: .2rem 0;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid $primary-color;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    color: $white-color;
    &:focus{
        border: 1ox solid $primary-color;
        background-color: $black-color;
    }
}

label{
    opacity: 0.6;
}
   
   
   
   
   