<div *ngIf="movie" class="container animate__animated animate__fadeIn">
  <section class="download">
    <img class="download__image" [src]="movie.posterImage" alt="" />
    <div>
      <div class="download__description">
        <h3>{{ movie.name }}</h3>
        <div class="download__description-info">
          <p>
            Rating: <span>{{ movie.rating }}/10</span>
          </p>
          <p>
            Año: <span>{{ movie.year }}</span>
          </p>
        </div>

        <div class="download__description-genres">
          <span *ngFor="let genre of movie.genres">{{ genre.name }}</span>
        </div>
      </div>
      <div class="download__about">
        <p>
          {{ movie.description }}
        </p>
      </div>
      <div class="download__button">
        <button (click)="goBack()">volver</button>
        <button (click)="toDownload()">Descargar</button>
        <button *ngIf="movie.link4k" (click)="toDownload()">Descargar 4k</button>
      </div>
    </div>
  </section>
</div>
