@import '/src/styles/variables';
@import '/src/styles/mixin';

.login-form {
  display: flex;
  width: 100%;
  background-color: $grey-color;
  border-radius: $border-radius;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  h2 {
    font-size: 1.3rem;
    text-align: center;
  }
  form {
    input {
      display: block;
      padding: 1rem;
      width: 220px;
      margin: 1.5rem;
      border-radius: $border-radius;
    }
    button {
      @include secButton();
      width: 100%;
      padding: 1rem 0;
      margin-bottom: 1rem;
    }
  }
  p {
    a {
      margin-top: 1rem;
      color: $primary-color;
    }
  }

  .error {
    margin-bottom: 1rem;
    p {
      color: red;
      text-align: center;
    }
  }
}
