@import '/src/styles/variables';
@import '/src/styles/mixin';

.paginator {
  margin-bottom: 5rem;
  &__btns {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 1rem;
    button {
      @include secButton();
      padding: 0.5rem 1.25rem;
      margin-bottom: 1rem;
    }
  }
}

@media screen and (min-width: 768px) {
  .paginator {
    margin-bottom: 1rem;
  }
}
