.spinner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  margin-bottom: 5rem;
}

@media (min-width: 768px) {
  .container {
    margin: 0 0 1rem 8rem;
    min-height: 100vh;
  }
}
