.spinner{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 900px) {
    .spinner{
        margin: 0 0 0 11rem;
    }
    .container{
        margin: 0;
        margin: 0 0 0 11rem;
        min-height: 100vh;
      
    }

  }