<div class="search-container">
  <div class="search__input">
    <input placeholder="Buscar Pelicula" (keyup)="src()" [(ngModel)]="term" type="text" class="input" required="" />
    {{ term }}
  </div>
  <div class="search__genres">
    <label for="standard-select">Generos</label>
    <div class="select">
      <select name="genreSelected" (change)="eventGenre()" [(ngModel)]="genreSelected">
        <ng-container *ngFor="let genre of genres">
          <option [value]="genre._id">
            {{ genre.name }}
          </option>
        </ng-container>
      </select>
    </div>
  </div>
</div>
