.movies-container {
  margin-top: 1rem;
  margin-bottom: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  .movies-container {
    margin-top: 1rem;
  }
  h3 {
    font-size: 1.6rem;
    text-align: center;
  }
}
