<div class="help-container">
  <h2>Bienvenidos a FT-Movies</h2>
  <div>
    <h3>Preguntas frecuentes:</h3>
    <div>
      <h4>Como descargar las peliculas?</h4>
      <p>
        en <strong>FT-MOVIES</strong> es sencillo descargar.solo tienes que tener instalado utorrent el cual puedes
        descargar desde <a href="https://www.utorrent.com/intl/es/downloads/win/" target="_blank">aqui</a>
        una vez descargado utorrent solo debes darle al boton de descarga en tu pelicula favorita!
      </p>
    </div>
  </div>
</div>
