@import '/src/styles/variables';
@import '/src/styles/mixin';
.featured {
  width: 23rem;
  border-radius: $border-radius;
  border: 1px solid $grey-color;
  background-color: $grey-color;
  padding: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  img {
    width: 100%;
    max-width: 9rem;
    flex: 1;
  }
  &__rating {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    i {
      color: $primary-color;
    }
    small {
      font-size: small;
    }
  }
  &__text {
    padding: 1rem;
    h2 {
      font-size: 1.1rem;
      text-align: center;
      margin-bottom: 1rem;
    }
    p {
      font-size: 0.9rem;
      font-weight: lighter;
      text-align: center;
      line-height: 1.2;
    }
    button {
      margin-top: 1.5rem;
      width: 100%;
      @include primaryButton();
    }
  }
}
