@import "/src/styles/variables";
.container{
    min-height:100vh ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
    margin: 1rem;
    form{

        .input {
            margin: 1rem;
            line-height: 28px;
            border: 2px solid transparent;
            border-bottom-color: $primary-color;
            padding: .2rem 0;
            outline: none;
            background-color: transparent;
            color: $white-color;
            transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
            &:focus, input:hover {
                outline: none;
            padding: .2rem 1rem;
            border-radius: $border-radius;
            border-color: $primary-color;
        }
        
        &::placeholder {
            color: $white-color;
        }
        
        &:focus::placeholder {
            opacity: 0;
            transition: opacity .3s;
        }
    
    }
    .genres{
        display: flex;
        gap: 1rem;
        border: 1px solid $primary-color;
        padding: 1rem;
        margin-bottom: 1rem;
        .genres-selected{
            p{
                font-size: 2rem;
            }
        }
    }
    .width-max{
        width: 100%;
    }
    .featured{
        background-color: $primary-color;
    }
}

}
select{
    padding: .2rem 0;
    display: block;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid $primary-color;
    padding: 0 1em 0 0;
    margin-bottom: 1rem;
    width: 50%;
    color: $white-color;
    &:focus{
        border: 1ox solid $primary-color;
        background-color: $black-color;
    }
}

label{
    opacity: 0.6;
}
   
h3{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
textarea{
    width: 100%;
    border: 1px solid $primary-color;
    margin-bottom: 1rem;
}
.button-container{
    text-align: center;
    button{
        background-color: $grey-color;
        color: $white-color;
        border: 1px solid $primary-color;
        padding: 0.25rem 0.5rem;
        border-radius: $border-radius;
        font-size: 1rem;
        transition: background-color 0.3s ease;
        text-align: center;
        &:hover{
            cursor: pointer;
            background-color: $primary-color;
            color: $white-color;
        }
    }
}