<div class="container">
    <form (ngSubmit)="uploadMovie()" [formGroup]="movieForm">
        <div>
            <input formControlName="name" placeholder="Nombre" type="text" class="input" required="" />
            <input formControlName="year" placeholder="Año" type="text" class="input" required="" />
            <input formControlName="rating" placeholder="Rating" type="number" class="input" required="" />
        </div>
        <div class="img-url">
            <input
                formControlName="posterImage"
                placeholder="Imagen Url"
                type="text"
                class="input width-max"
                required=""
            />
            <input formControlName="link" placeholder="link" type="text" class="input width-max" required="" />
            <input formControlName="link4k" placeholder="link en 4k" type="text" class="input width-max" required="" />
        </div>
        <div>
            <h3>Descripción</h3>
            <textarea formControlName="description" name="" id="" cols="30" rows="10"></textarea>
        </div>
        <div>
            <label for="standard-select">Generos</label>
            <div class="select">
                <select
                    name="genreSelected"
                    [(ngModel)]="genreSelected"
                    [ngModelOptions]="{ standalone: true }"
                    (change)="changes($event)"
                >
                    <ng-container *ngFor="let genre of genres">
                        <option [value]="[genre._id, genre.name]">
                            {{ genre.name }}
                        </option>
                    </ng-container>
                </select>
            </div>
            <div>
                <h3>Generos seleccionados</h3>
                <div class="genres">
                    <p class="genres-selected" *ngFor="let genre of genreSelectedName">{{ genre }}</p>
                </div>
            </div>

            <h3>
                destacada?
                <input formControlName="featured" type="checkbox" name="" id="" />
            </h3>
        </div>
        <div class="button-container">
            <button type="submit">Cargar Pelicula</button>
        </div>
    </form>
</div>
