@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import '/src/styles/variables';
@import './styles/_reset.scss';
body {
    background-color: $black-color;
    font-family: 'Lato', sans-serif;
    color: $white-color;
}
img {
    width: 100%;
    object-fit: cover;
}
a {
    text-decoration: none;
    color: #ccc;
}
.spacer {
    flex-basis: 1;
}

.overlay {
    width: 100%;
    height: 100vh;
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 5;
    background-color: $black-color;
}

.active {
    border-radius: $border-radius;
    background-color: $primary-color;
}
